.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}

.gallery img {
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

